* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  background-color: #ccd5ff;
}

.header {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.header p {
  font-weight: light;
  font-style: italic;
  font-size: smaller;
}

.input-btn-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 0 1rem 4rem rgba(255, 255, 255, 0.3);
  background-color: #e4e9ff;
  padding: 1rem 2rem;
}

.input-btn input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-btn button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  background-color: purple;
  border: none;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
}

img {
  width: 75px;
  height: 75px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
li {
  list-style: none;
}
.song-tile {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;
  box-shadow: 0 2rem 8rem rgba(255, 255, 255, 0.3);
  width: 300px;
  /* border-radius: 10px 30px; */
  border-radius: 4px;
  background-color: #707eff;
  color: white;
  transition: all 200ms ease-in-out;
}
.song-tile:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.clickable {
  transition: all 200ms ease-in-out;
}
.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1) translateX(0.25rem);
  font-weight: bold;
}

.search-result {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-radius: 3rem;
  width: fit-content;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1.5rem;
}

.search-result-song {
  background-color: rgba(128, 0, 128, 0.5);
  padding: 1rem 2rem;
  color: white;
  border-radius: 1rem;
}

.song-page-container button {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: purple;
  border: none;
  color: white;
  transition: all 200ms ease-in-out;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: purple;
  border: none;
  color: white;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: white;
  color: purple;
  cursor: pointer;
  transform: scale(1.05);
}

dialog {
  padding: 1rem;
  border: none;
  background-color: #f0f3ff;
  backdrop: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

form h2 {
  text-align: center;
}

form input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}

form button {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  background-color: #00009999;
  border: none;
  color: white;
  width: fit-content;
  margin: 0 auto;
}
form button:hover {
  background-color: white;
  color: #00009999;
  cursor: pointer;
  transform: scale(1.05);
}

.song-page-container {
  background-color: #e4e9ff;
  height: 99vh;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.song-page-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #707eff, purple);
  color: white;
  width: 70vw;
  border-radius: 6px 50% 6px 6px;
  height: fit-content;
}

.song-page-content h1 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
#music-player-icon {
  height: 20rem;
  width: 30rem;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 50%;
}

.song-page-content .icon-info-s {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.song-page-content .icon-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 200ms ease-in-out;
}
.song-page-content .icon-info img {
  height: 50px;
  width: 50px;
  background-color: #e4e9ff;
  border-radius: 50%;
  padding: 0.25rem;
}

.song-page-content .icon-info:hover {
  transform: scale(1.05);
}
/* Responsive Design */
@media (max-width: 480px) {
  .input-btn-result {
    width: 100%;
  }
  .input-btn {
    gap: 1rem;
    width: 100%;
  }

  .input-btn input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: transparent;
  }
  body {
    background-color: #e4e9ff;
    width: 100vw;
  }
  .song-page-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 100vw;
  }

  .song-page-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 5rem auto;
    padding: 2rem 1rem;
    box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #707eff, purple);
    color: white;
    width: fit-content;
    border-radius: 4px;
    height: fit-content;
  }

  .song-page-content h1 {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  #music-player-icon {
    height: 13rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 50%;
  }

  .song-page-content .icon-info-s {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .song-page-content .icon-info {
    display: flex;
    gap: 1rem;
    width: 60%;

    align-items: center;
    transition: all 200ms ease-in-out;
  }
  .song-page-content .icon-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0.25rem;
  }

  .song-page-container button {
    padding: 1rem 2.5rem;
    font-size: larger;
    background-color: rgba(142, 20, 142, 0.82);
  }
}
