body {
  background-color: pink;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 2.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  line-height: 0.1;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.header p {
  font-weight: light;
  font-style: italic;
  font-size: smaller;
}

.input-btn-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 0 1rem 4rem rgba(255, 255, 255, 0.3);
  background-color: lightpink;
  padding: 1rem 2rem;
}

.input-btn input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-btn button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  background-color: purple;
  border: none;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
}

img {
  width: 75px;
  height: 75px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
li {
  list-style: none;
}
.song-tile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  box-shadow: 0 2rem 8rem rgba(255, 255, 255, 0.3);
  width: 300px;
  border-radius: 10px 30px;
  background-color: purple;
  color: white;
}
.search-result {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-radius: 3rem;
  width: fit-content;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1.5rem;
}
